apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-python-lghjfofh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-python-lghjfofh:c4f61a02b3249b0ec1ddd5411e8ab92c50b7a67a@sha256:e6b3f8472fd40a0701ce99ce8d044d93b4e5ab90e94ac2156badc54a0a7e7fee
          name: container-image
